.breadcrum {
    display: flex;
    align-items: center;
    gap: 6px;

    width: 82%;               /* ✅ Same width as banner + shop page */
    margin: 40px auto 20px;   /* ✅ Center aligned */
    
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.breadcrum img {
    width: 12px;
    height: 12px;
    object-fit: contain;
    opacity: 0.7;
}

