.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 0;
}

/* ------------------- LOGO ------------------- */

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    width: 60px;         /* Make logo perfect size */
    height: auto;
}

.footer-logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

/* ------------------- LINKS ------------------- */

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
    transition: 0.2s ease;
}

.footer-links li:hover {
    color: #000;
}

/* ------------------- SOCIAL ICONS ------------------- */

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 12px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons-container img {
    width: 28px;         /* Smaller and neat */
    height: 28px;
    object-fit: contain;
    filter: grayscale(20%);
    transition: 0.2s ease;
}

.footer-icons-container img:hover {
    filter: grayscale(0%);
    transform: scale(1.08);
}

/* ------------------- COPYRIGHT ------------------- */

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
